<!DOCTYPE html>
<html ng-app="gameapp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pingis App</title>
    @Styles.Render("~/Content/appcss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="margin: 0px; padding: 0;">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/profile-dropdown.js"></script>
</body>
</html>
